body{
    background:linear-gradient(black, violet);
    text-align: center;
}
h1{
    text-align: center;
    color: violet;
}
.line{
    background-color: violet;
    width:50px;
}
#chatbot{
    color: black;
}